
.appointemt{
    background:  lightgray;
}
.appointemt .btn{
    min-width: 193px;
    height: 55px;
    border-radius: 25px;
    background: #57b846;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
}

.appointemt h2{
    font-family: Montserrat-Bold;
}

.women{
    animation-name: women;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.5s;
}


@keyframes women{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(10px);
    }
}

.women{
    width: 35%;
    top:34%;
    left: 50%;
}
.review{
    animation-name: review;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.5s;
}
@keyframes review{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(8px);
    }
}

/*
.bi-pen{
    color: #000;
}

.bi-trash{
    color: #000;
}

*/

@font-face {
    font-family: Montserrat-Bold;
    src: url('../../../assets/contact/fonts/montserrat/Montserrat-Bold.ttf');
  }
 

.footer{
    width: 99%;
    padding: 10px;
  }
  .footer button{
    border-radius: 25px;
    background: #57b846;
    font-family: Montserrat-Bold;
    font-size: 15px;
    color: #fff;
  }