* {
    box-sizing: border-box;
}

.admin {
    background: #009bff;
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
    background: -o-linear-gradient(left, #0072ff, #00c6ff);
    background: -moz-linear-gradient(left, #0072ff, #00c6ff);
    background: linear-gradient(left, #0072ff, #00c6ff);
    /* background-image: linear-gradient(to bottom right, #138593, #11E06C); */
}

.pic {
    background-image: url(../img/background.jpg);
    background-position: -500px 0;

}

.pic h1 {
    background: #009bff;
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
    background: -o-linear-gradient(left, #0072ff, #00c6ff);
    background: -moz-linear-gradient(left, #0072ff, #00c6ff);
    background: linear-gradient(left, #0072ff, #00c6ff);
    /* background-image: linear-gradient(to bottom right, #138593, #11E06C); */
}

.adminWelcome {
    background-color: white;
}

.button {
    min-width: 193px;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
}